.friends {
    min-height: 70vh
}

.friends-text {
    width: 30vw;
    position: absolute;
    top: 10vw;
    left: 20%
}

#friends-title {
    font-weight: bold;
    color: rgba(92, 0, 128, 0.856);
}

#friends-link {
    color: rgba(92, 0, 128, 0.856);
}

#friends-img {
    width: 50vw;
    min-height: 70vh
}

@media only screen and (max-width: 540px) {
    .friends {
        min-height: 20vh
    }
    #friends-img {
        width: 50vw;
        min-height:30vh
    }
  }