.friends {
    min-height: 70vh
}

.friends-text {
    width: 50%
}

#friends-title {
    font-weight: bold;
    color: rgba(92, 0, 128, 0.856);
}

#friends-link {
    color: rgba(92, 0, 128, 0.856);
}

#friends-img {
    width: 100%;
    min-height: 100%
}