.rating {
    max-height: 60vh;
}

.fa-star {
    color: rgb(255, 115, 0)
}

.rating-content {
    width: 30vw;
    position: absolute;
    top: 10vW;
    left: 10vw
}

@media only screen and (max-width: 540px) {
    .fa-star {
        height: 0.1vw
    }
  }