.carousel {
    max-width:40vw;
    height:50vh;
    margin-top: 2vh;
}

.carousel-item {
    padding:0 5vw 0 5vw;
    height:20vw;
    overflow: scroll;
    margin-top: 3vw;
}

.reviewer {
    font-weight:bold;
    color: rgba(92, 0, 128, 0.856);
    margin: 0 5vw 5vh 5vw
}

.carousel-control-icon {
    color: rgba(92, 0, 128, 0.856);
}

.carousel-item-counter {
    color: yellow
}

.carousel-indicators {
    list-style: disc;  
}
    
.carousel-indicators li{
    color:rgb(255, 208, 0);
    
}

@media only screen and (max-width: 540px) {
    .carousel {
        max-width:40vw;
        height:30vw;
        margin-top: 2vw;
    }
    
    .carousel-item {
        padding:0 5vw 0 5vw;
        height:20vw;
        overflow: scroll;
        margin-top: 0vw;
    }
  }



