.landing {
    background-image: url("/assets/image/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
    background-size: cover;
}

.logo {
    width: 15rem;
    position: absolute;
    top: 3rem;
    left: 10rem;
}

#welcome {
    /* position: absolute;
    bottom: 50%;
    left: 40%; */
    color: rgba(255, 255, 255, 0);
    font-size: 4rem;
    font-weight: bold;
    -webkit-text-stroke: .25rem rgb(255, 255, 255);
    
}

.company-name {
    font-size: 4rem;
    color: white;
    font-weight: bold;
}