.future {
    background-image: url("/assets/image/banner-2.jpg");
    background-size: cover;
    background-repeat: none;
    background-position: center;
    min-height: 70vh;
}

.future-content {
    position: absolute;
    left: 60%;
    top: 30%;
    max-width: 30%
}

#future-title{
    color: rgba(92, 0, 128, 0.856); 
}

.future-button {
    color: white;
    background-color: rgb(255, 115, 0);
    padding: 1rem;
}

