.service{
    min-height: 70vh;
}

.service-right {
    background: rgb(246, 246, 246)
}

#service-title {
    color: rgb(65, 65, 65)
}

.image-wrapper {
    height: 10vw;
    width:10vw;
    border: solid purple .3vw;
    border-radius: 50vh;
}

.service-icon{
    height: 70%;
    margin: 1.5vw;
}

.service-name {
    font-weight: bold
}

@media only screen and (max-width: 540px) {
    .service{
        min-height: 30vh;
    }
  }

